	  <div class="photo">
		  <img class="menu-photo" src="/images/me@2x.jpg" alt="Тимур Суграрин" width="100" height="126">
	  </div>
    <nav>
		  <ul class="menu">
			  <li>
				  <a class="menu-link-title" href="/">Тимур Суграрин</a>
			  </li>
			  <li>
				  <a class="menu-link" href="/projects/">Проекты</a>
			  </li>
			  <li>
				  <a class="menu-link current">Заметки</a>
			  </li>
			  <li>
				  <a class="menu-link" href="/lists/">Списки</a>
			  </li>
			  <li>
				  <a class="menu-link" href="/weblog/">Веблог</a>
			  </li>
			  <li>
				  <a class="menu-link" href="https://twitter.com/sugrarin/" target="_blank">Твитер</a><sup>↗</sup>
			  </li>
			  <li>
				  <a class="menu-link" href="https://t.me/timlead/" target="_blank">Канал</a><sup>↗</sup>
			  </li>
			  <li>
				  <a class="menu-link" href="https://sugrarin.xyz/" target="_blank">EN</a><sup>↗</sup>
			  </li>
		  </ul>
	  </nav>