    <nav>
		  <ul class="menu">
			  <li>
				  <a class="menu-link-title" href="/">Тимур Суграрин</a>
			  </li>
			  <li>
				  <a class="menu-link" href="/projects/">Проекты</a>
			  </li>
			  <li>
				  <a class="menu-link" href="/notes/">Заметки</a>
			  </li>
			  <li>
				  <a class="menu-link" href="/lists/">Списки</a>
			  </li>
			  <li>
				  <a class="menu-link" href="/lifelog/">Лайфлог</a>
			  </li>
			  <li>
				  <a class="menu-link" href="https://twitter.com/sugrarin/" target="_blank">Твитер</a><sup>↗</sup>
			  </li>
			  <li>
				  <a class="menu-link" href="https://t.me/timlead/" target="_blank">Канал</a><sup>↗</sup>
			  </li>
			  <li>
				  <a class="menu-link" href="https://sugrarin.xyz/" target="_blank">EN</a><sup>↗</sup>
			  </li>
		  </ul>
	  </nav>