<!doctype html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.excerpt }}">
    <link rel="stylesheet" href="/assets/style/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">
		<link rel="apple-touch-icon-precomposed" href="/assets/icons/favicon.png">
  </head>
  <header>
  	{% include header-notes.html %}
	</header>

  <body>
    {{ content }}
  </body>

  <footer>
  	{% include footer.html %}
  </footer>
</html>
